span{
  font-family: monospace;
  font-weight: 900;
}
.btn:focus {
  box-shadow: none;
}
.malwation {
flex-direction: column;
justify-content: center;
position: fixed;
height: 4vh;
}
.logo-header{
  background-color: #d1c4e9;
}